/.metadata/
Smart_crop_advisory_backend/src/main/resources/application.properties
Smart_crop_advisory_system_Frouent/src/main/resources/application.properties
Smart_crop_advisory_backend/src/main/resources/application.properties
